body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Header: start mobile with logo at the top left and nav>li structure is in a column. Search bar go 100% width, At desktop, all elements go into a signle row so I will use flex. */
nav {
  padding: 1% 2%;
  overflow: auto;
  background-color: hsl(0, 0%, 13%);
  align-items: center;
}

ul,
li,
a {
  list-style-type: none;
  color: #bd8d3a;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

nav li a:hover {
  background-color: #bd8d3a;
  color: black;
}

nav .searchBar {
  display: flex;
  align-items: center;
}

.searchBar input {
  width: 100%;
  height: 40px;
}

.searchBar button {
  color: #bd8d3a;
  background-color: transparent;
  border: 1px solid #bd8d3a;
  padding: 2%;
  margin-left: 0px;
}

/* Welcome: At mobile, this has a full width background image with a semi-transparent structure in the middle that holds the content. At desktop, the content structure is no longer edge to edge and is now centered. */
#mainBanner {
  position: relative;
  height: 400px;
}

#mainBanner img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#mainBanner .wrapper {
  position: absolute;
  width: 96%;
  padding: 4% 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(34, 34, 34, 0.7);
  color: white;
}

#mainBanner button {
  background-color: #bd8d3a;
  color: black;
  border: 0px;
  padding: 12px;
  font-size: 15px;
}

/* About: At mobile, imange has full width and the chunk of text below that. At desktop, the image and text will beside of each other. */
#aboutUs {
  background-color: #fbe7b3;
  padding: 2% 2%;
}
#aboutUs img {
  width: 100%;
}

#aboutUs .details h1 {
  font-size: 30px;
}

#aboutUs .details p {
  font-size: 14px;
}

/* Services: At mobile, services have multiple child-elements in one column with bleed. Each child element include image, sub-heading, some text and button. At desktop, will use grid to create a multi-column layout. grid-template-areas will allow me to adjust the width for different child elements. */

#services {
  padding: 2% 2%;
}

.serviceGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.serviceGrid .gridWapper {
  background-color: #fbe7b3;
  height: fit-content;
}
.serviceGrid .gridWapper p {
  font-size: 14px;
}

.serviceGrid .gridWapper h3,
p,
button {
  margin: 10px;
}

.serviceGrid .gridWapper h3 {
  font-size: 25px;
}
.serviceGrid .gridWapper button {
  background-color: black;
  border: 0px;
  padding: 20px;
  width: 95%;
  align-items: center;
  color: white;
  font-size: 15px;
}

.serviceGrid .gridWapper img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* Vision: At mobile, this has a full width background image. In the middle, it holds the content and button. At desktop, the content structure will still edge to edge and has a button. */
#our-vision {
  position: relative;
}

#our-vision img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: rgb(34, 34, 34, 0.7);
}

#our-vision div {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-3%, -50%);
  color: white;
}

#our-vision div p:nth-child(1) {
  font-size: 30px;
}

#our-vision div p:nth-child(2) {
  font-size: 14px;
}

#our-vision button {
  background-color: black;
  border: 0px;
  padding: 20px;
  color: white;
  font-size: 15px;
}

/* Team: At mobile, image has full width the chunk of text below that. At desktop, will use grid to create a multi-column layout. grid-template-areas will allow me to adjust the width for different child elements.  */
#team {
  padding: 2% 2%;
}

#team img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.teamGrid .wrapper {
  background-color: #fbe7b3;
  padding: 2%;
}

.teamGrid .wrapper p:nth-child(1) {
  font-size: 25px;
}

.border {
  display: block;
  border-bottom: 2px solid gray;
}

.teamGrid .wrapper p:nth-child(2) {
  font-size: 20px;
}

.teamGrid .wrapper p:nth-child(3) {
  font-size: 14px;
}

/* Contact: At mobile, using flex to place form and map beside each other. At desktop, map will place below the contact form and table. i-frame is used to embed the map in webpage.  */
#contact {
  padding: 2% 2%;
}

#contact p{
  font-size: 30px;
  margin: 0%;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container h3 {
  font-size: 25px;
}

.flex-container input {
  width: 98%;
  height: 30px;
}

.flex-container textarea {
  width: 98%;
  height: 200px;
}

.flex-container button {
  background-color: black;
  color: #bd8d3a;
  border: 0px;
  padding: 10px 40px;
  font-size: 15px;
  margin-left: 0%;
}

#contact iframe {
  width: 100%;
}